{% extends "finance/layout.html" %}
{% load static %}


{% block body %}
<div>
    {% if user.is_authenticated %}
    <div id="content">
        <span>Balance: <h2 id="balance">{{ account.balance }}$</h2></span>
        <button name="income" data-account-id="{{account.id}}" class="btn btn-outline-success">Add Income</button>
        <button name="recincome" data-account-id="{{account.id}}" class="btn btn-outline-success">Add Recurrent
            Income</button>
        <!-- <br> -->
        <button name="expense" data-account-id="{{account.id}}" class="btn btn-outline-danger">Add Expense</button>
        <button name="recexpense" data-account-id="{{account.id}}" class="btn btn-outline-danger">Add
            Subscription</button>
        <div class="acc-container">
            <br>
            <span>Current wallet:</span>
            <span id="accountName" data-account-name="{{account.name}}">{{ account.name }}</span>
            <span id="acc-change">Change wallet</span>
            <span id="acc-new">New wallet</span>
        </div>
    </div>
    <div class="form-popup" id="incomesForm">
        <form class="form-container rounded">
            <h1>Add income</h1>
            <label for="amount"><b>Amount</b></label>
            <input type="number" min=1 placeholder="Enter Amount $" name="amount" required>
            <button type="submit" class="btn">Done</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <div class="form-popup" id="expensesForm">
        <form class="form-container rounded">
            <h1>Add expense</h1>
            <label for="amount"><b>Amount</b></label>
            <input type="number" min=1 placeholder="Enter Amount $" name="amount" required>
            <button type="submit" class="btn">Done</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <div class="form-popup" id="recexpensesForm">
        <form class="form-container rounded">
            <h1>Add subscription</h1>
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Enter title" name="title" required>
            <label for="amount"><b>Amount</b></label>
            <input type="number" min=1 placeholder="Enter Amount $" name="amount" required>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Repeat</label>
                </div>
                <select class="custom-select" name="cycle" id="schedule_type">
                    <!-- Custom option for testing purposes -->
                    <!-- <option value="Custom">(Debug) Daily</option> -->
                    <option value="Monthly">Monthly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="start">Start date:</label>
                </div>
                <input class="custom-select" type="date" id="start" name="trip-start" value="2018-07-22"
                    min="2018-01-01">
            </div>
            <button type="submit" class="btn">Done</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <div class="form-popup" id="recIncomesForm">
        <form class="form-container rounded">
            <h1>Add recurrent income</h1>
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Enter title" name="title" required>
            <label for="amount"><b>Amount</b></label>
            <input type="number" min=1 placeholder="Enter Amount $" name="amount" required>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Repeat</label>
                </div>
                <select class="custom-select" name="cycle" id="income_schedule_type">
                    <!-- Custom option for testing purposes -->
                    <!-- <option value="Custom">(Debug) Daily</option> -->
                    <option value="Monthly">Monthly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="start">Start date:</label>
                </div>
                <input class="custom-select" type="date" id="income_start" name="trip-start" value="2018-07-22"
                    min="2018-01-01">
            </div>
            <button type="submit" class="btn">Done</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <div class="form-popup" id="amount_form">
        <form class="form-container rounded">
            <h4>Change amount</h1>
                <label for="amount"><b>Amount</b></label>
                <input type="number" min=1 placeholder="Enter Amount $" name="amount" required>
                <button type="submit" class="btn">Done</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <div class="form-popup" id="changeAccForm">
        <form class="form-container rounded">
            <h1>Change account</h1>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Account</label>
                </div>
                <select class="custom-select" name="cycle" id="change_account">
                    {% for acc in user.accounts.all %}
                    <option value="{{acc.name}}">{{acc.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn">Done</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <div class="form-popup" id="newAccForm">
        <form class="form-container rounded">
            <h1>Add new wallet</h1>
            <label for="title"><b>Wallet name</b></label>
            <input type="text" placeholder="Enter title" name="title" required>
            <label for="amount"><b>Starting amount</b></label>
            <input type="number" min=0 placeholder="Enter Amount $" name="amount" required>
            <button type="submit" class="btn">Done</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <!-- <br> -->
    <div class="subs-container-title">
        <h3>Active Subscriptions</h3>
        <span class="sub-order">order by:</span>
        <span class="sub-order">
            <select class="sub-order-select" name="rec_exp_order" id="rec_exp_order">
                <option selected value="nex_pay_asc">Next payment date (asc)</option>
                <option value="nex_pay_dsc">Next payment date (dsc)</option>
                <option value="title_asc">Title (asc)</option>
                <option value="title_dsc">Title (dsc)</option>
                <option value="amount_asc">Amount (asc)</option>
                <option value="amount_dsc">Amount (dsc)</option>
            </select>
        </span>
    </div>
    <div id="rec_expenses_container" class="subs-container rounded">
    </div>
    <div class="subs-container-title">
        <h3>Active Recurrent Incomes</h3>
        <span class="sub-order">order by:</span>
        <span class="sub-order">
            <select class="sub-order-select" name="rec_inc_order" id="rec_inc_order">
                <option selected value="nex_pay_asc">Next payment date (asc)</option>
                <option value="nex_pay_dsc">Next payment date (dsc)</option>
                <option value="title_asc">Title (asc)</option>
                <option value="title_dsc">Title (dsc)</option>
                <option value="amount_asc">Amount (asc)</option>
                <option value="amount_dsc">Amount (dsc)</option>
            </select>
        </span>
    </div>
    <div id="rec_incomes_container" class="subs-container rounded">
    </div>
    <div class="subs-container-title">
    <h3>Incomes</h3>
        <span class="sub-order">order by:</span>
        <span class="sub-order">
            <select class="sub-order-select" name="inc_order" id="inc_order">
                <option selected value="date_dsc">Added date (dsc)</option>
                <option value="date_asc">Added date (asc)</option>
                <option value="amount_dsc">Amount (dsc)</option>
                <option value="amount_asc">Amount (asc)</option>
            </select>
        </span>
    </div>
    <div id="incomes_container" class="subs-container rounded">
    </div>
    <div class="subs-container-title">
    <h3>Expenses</h3>
            <span class="sub-order">order by:</span>
            <span class="sub-order">
                <select class="sub-order-select" name="exp_order" id="exp_order">
                    <option selected value="date_dsc">Added date (dsc)</option>
                    <option value="date_asc">Added date (asc)</option>
                    <option value="amount_dsc">Amount (dsc)</option>
                    <option value="amount_asc">Amount (asc)</option>
                </select>
            </span>
        </div>
    <div id="expenses_container" class="subs-container rounded">

    </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'finance/index.js' %}"></script>
{% endblock %}